body{
	background:#dbe1de;
	position:fixed;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

#tools {
	background:#4d4d4d;
	opacity:.5;
	position:fixed;
	top:60px;
	left:0px;
	width:80px;
	height:450px;
	margin:0px;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:0px;
	padding-right:0px;
	border:0px;
	list-style: none;
	
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 10px #4d4d4d;
	-moz-box-shadow: 0px 0px 10px #4d4d4d;
	box-shadow: 0px 0px 10px #4d4d4d;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#tools li {
	width:60px;
	height:60px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	padding:0px;
	float:left;
}
#tools li img {
	width:100%;
	height:100%;
}

.ruler {
    position:absolute;
    left:1px;
    top:21px;
    margin:0px;
    padding:0px;
    border:none;
}

.scene {
	background:#fff;
	position:absolute;
	top:36px;
	left:15px;
	margin:0px;
	padding:0px;
	border:1px solid #4d4d4d;
	overflow:hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.layer {
	background:transparent;
	position:absolute;
	width:0px;
	height:0px;
	margin:0px;
	padding:0px;
	border:none;
}
.article {
	position:relative;
	left:0px;
	top:0px;
	margin:none; 
	padding:none;
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	height:100%;
	border-style: solid; 
	border-color: rgb(77, 77, 77); 
	border-width: 0px;
	
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}
.article div, .article p {
	width:100%;
	margin:0px;
	padding:0px;
	overflow:visible;
	float:center;
	line-height:inherit;
}
.article div p {
	width:100%;
	margin:0px;
	padding:0px;
	white-space:nowrap;
	overflow:visible;
	line-height:inherit;
	color: inherit;
}
.article .game {
    position:relative;
    background:#000;
    margin:25px auto 25px auto;
    border-style:solid;
    border-color:#4d4d4d;
    border-width:3px;
}
.article .game h3 {
    margin:auto;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    font:18px Verdana;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.article .illu {
    position:relative;
    margin:none;
    border:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#linkSetter {
    position: fixed;
    background: rgba(77,77,77,0.77);
    width: 210px;
    height: 180px;
    margin: none;
    padding: none;
    border: 1px solid #000;
    z-index: 50;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#linkSetterAnchor {
    position: absolute;
    left: 10px;
    top: -5px;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(77,77,77,0.5);
}
#linkSetter h5 {
    margin:20px 0px 10px 20px;
    line-height:20px;
    float:left;
    padding:0px;
}
#linkType {
    float:left;
    height:16px;
    margin:20px 0px 10px 10px;
    padding:0px;
}
#linkSetter input{
    float:left;
    width:130;
    margin:30px 40px 0px 40px;
    padding:none;
}
.audiolink {
    color: #FFB11B;
}
.wikilink {
    color: rgb(230,82,82);
}
.fblink {
    color: rgb(74,108,164);
}

#center_panel {
	position:fixed;
	top:60px;
	left:140px;
	margin:0px;
	padding:0px;
	border:0px;
	z-index: 1;
}

.tabBar {
	position:relative;
	top:0px;
	left:0px;
	list-style: none;
	margin:0px;
	padding:0px;
	border:0px;
	z-index:5;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.tabBar li, .tabBar input {
	background:#4d4d4d;
	width:80px;
	height:19px;
	
	float: left;
	display: block;
	line-height:20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	
	border-width:1px;
	border-style:solid;
	border-color:#4d4d4d;
	
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}
.tabBar li:hover {
	background:#adadad;
}
.tabBar li.active, .tabBar input.active {
	background:#fff;
	height:20px;
	color:#4d4d4d;
	
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:0px;
	border-left-width:1px;
}
.tabBar li.add {
	background:#4d4d4d;
	top:0px;
	width:30px;
	height:19px;
	
	display: block;
	line-height:20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

.central_tools{
	background:#fff;
	position:absolute;
	top:0px;
	left:0px;
	width:657px;
	height:19px;
	margin:0px;
	padding:0px;
	border:1px solid #4d4d4d;
	list-style: none;
	z-index:6;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.central_tools li {
	height:19px;
	float: left;
	display: block;
	line-height:19px;
	font-size:14px;
	text-align: center;
}
.central_tools li img.active {
	background:#aaa;
}
.central_tools li h5 {
	float:left;
	text-decoration:none;
	margin:0px 0px 0px 8px;
	padding:0px;
}
.central_tools li input, .central_tools li select{
	float:left;
	height:12px;
	text-decoration:none;
	margin:1px 0px 0px 4px;
	padding:0px;
}
#editor {
	background:#fff;
	opacity:1;
	position:absolute;
	top:37px;
	left:16px;
	width:640px;
	height:480px;
	overflow:hidden;
	z-index:3;
}
.direct_editor {
    background: rgba(255,255,255,0);
    position: relative;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 480px;
    overflow: hidden;
    z-index: 50;
}
.script_editor {
    position: relative;
    left: 0px;
    top: 0px;
    width: 600px;
    height: 440px;
    padding: 20px;
    color: #000000;
    resize: none;
    outline: none;
    overflow: auto;
    text-align: left;
    font: 12px/16px "Deja Vu Sans Mono", "Droid Sans Mono", MONACO, "Courier New";
}
.rect {
	position:absolute;
	margin:0px;
	padding:0px;
	border:1px solid #000;
}
.selected {
	-moz-box-shadow: 0 0 0px 2px #888;
	-webkit-box-shadow: 0 0 0px 2px #888;
	box-shadow: 0 0 0px 2px #888;
}
.selected.textLine {
	background: rgba(4,120,120,0.5);
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.text {
	border:0px;
	position:absolute;
}
.text textarea {
	position:relative;
	background: rgba(255,255,255,0.5);
}
.text p {
	width:auto;
	text-align:left;
	margin:0px;
	padding:0px;
	font-style:normal;
	white-space:pre-wrap;
	overflow:hidden;
}
.text p:last-child {
	border-right:1px solid #4d4d4d;
}
.wiki_card {
    background: rgb(252,250,242);
    display: block;
    float: left;
    position: relative;
    margin: 30px 30px 0px 30px;
    padding: none;
    cursor: move;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px #4d4d4d;
    -moz-box-shadow: 0px 0px 5px #4d4d4d;
    box-shadow: 0px 0px 5px #4d4d4d;
}
.wiki_card img, .wiki_card input, .wiki_card textarea, .wiki_card img, .wiki_card .drop_zone, .wiki_card h5, .wiki_card h3, .wiki_card h4, .wiki_card div.wikitext, .wiki_card .sepline{
    width: 80%;
    left: 10%;
    display: block;
    position: absolute;
    margin: 0px;
    padding: 0px;
}
.wiki_card h5 {
    text-align: center;
    font-style: italic;
}
.wiki_card h3 {
    position: relative;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}
.wiki_card h4, .wiki_card div.wikitext{
    position: relative;
    width: 70%;
    left: 20%;
    white-space: pre-wrap;
}
.wiki_card .sepline{
    position: relative;
    height: 1px;
    border-top: 2px solid #000;
}
.card_over {
    border: 4px dotted #888;
    margin: 22px 26px 0px 26px;
}
#editor div.frame {
	background-color:rgba(255,255,255,0);
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
#editor div.active {
    background-color:rgba(255,255,255,0.5);
}

#editor #transTool_left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 268px;
    height: 460px;
    overflow-x: visible;
    overflow-y: auto;
    margin: 0px;
    padding: 10px 10px 10px 20px;
}
#editor #transTool_center {
    position: absolute;
    left: 288px;
    top: 0px;
    width: 44px;
    height: 460px;
    overflow: hidden;
    margin: 0px;
    padding: 10px;
    border-left: 1px dashed #333;
    border-right: 1px dashed #333;
    background: transparent;
}
#editor #transTool_right {
    position: absolute;
    left: 354px;
    top: 0px;
    width: 268px;
    height: 460px;
    overflow-x: visible;
    overflow-y: auto;
    margin: 0px;
    padding: 10px 10px 10px 20px;
}
#transTool_left p, #transTool_right p {
    margin: 0px;
    padding: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    font: 16px/20px Arial, Helvetica, Geneva, sans-serif;
}
#transTool_left p span, #transTool_right p span {
    border: 1px dashed #f00;
}
#transTool_left p span.wiki, #transTool_right p span.wiki {
    background: url(../images/UI/translate_wiki.png) no-repeat right top;
}
#transTool_left p span.audio, #transTool_right p span.audio {
    background: url(../images/UI/translate_audio.png) no-repeat right top;
}
#transTool_left p span.anime, #transTool_right p span.anime {
    background: url(../images/UI/translate_anime.png) no-repeat right top;
}
#transTool_left p span.script, #transTool_right p span.script {
    background: url(../images/UI/translate_script.png) no-repeat right top;
}
#editor #transTool_text {
    width: 248px;
    height: 440px;
    padding: 10px;
    margin: 0px;
}
#editor #transTool_input {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 20px;
    background: #FFBA84;
    margin: 0px;
    padding: 5px;
    color: #000;
    font: 15px/20px Arial, Helvetica, Geneva;
    border: 1px solid #333;
}

#timeline {
    background:#e4e4e4;
    position:fixed;
    top:577px;
    left:155px;
    width:640px;
    height:80px;
    overflow: auto;
    z-index:3;
    border:1px solid #4d4d4d;
    
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#timeline div.frameexpo{
    position:relative;
    background:#FFF;
    width:60px;
    height:50px;
    margin:15px 15px 0px 3px;
    padding:0px;
    border:1px solid #4d4d4d;
    float:left;
    overflow:visible;
}
#timeline div.frameexpo h4{
    position:absolute;
    top:5px;
    left:5px;
    height:20px;
    margin:0px;
    padding:0px;
    text-align:left;
    text-baseline:center;
    line-height:20px;
    color:#000;
    font-size:12px;
}
#timeline div.frameexpo h5{
    position:absolute;
    top:30px;
    right:2px;
    height:20px;
    margin:0px;
    padding:0px;
    text-align:right;
    text-baseline:center;
    line-height:20px;
    color:#000;
    font-size:9px;
}
#timeline div.frameexpo h5 span{
    color:#00F;
    padding:2px;
    border: 1px dotted #4d4d4d;
}
#timeline div.frameexpo div.motion{
    position:relative;
    left:50px;
    top:15px;
    width:28px;
    height:20px;
    background:url("../images/UI/motion.png") center center no-repeat;
}
#timeline div.active {
    background:#FFBA84;
}
#addFrame {
    position:relative;
    width:30px;
    height:30px;
    margin:25px 0px 0px 3px;
    padding:0px;
    float:left;
}
.frame_mask {
    position: absolute;
    border: none;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    z-index: 2;
}

#right {
	position:fixed;
	top:60px;
	left:100%;
	margin:0px;
	padding:0px;
	border:0px;
	z-index: 0;
}
#right_panel {
	position:absolute; 
	left:-210px;
}
.expos {
	background:#fff;
	position:absolute;
	top:0px;
	left:0px;
	width:210px;
	height:510px;
	margin:0px;
	padding:0px;
	border:1px solid #4d4d4d;
	overflow:auto;
}
.layer_expo {
	background:url("../images/UI/calque.png") center bottom no-repeat;
	position:relative;
	width:210px;
	height:55px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:0px;
	border:0px;
	overflow:visible;
}
.expo_active {
	background:#FFBA84 url("../images/UI/calque.png") center bottom no-repeat;
}
.layer_expo h1 {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	line-height:20px;
	font-size:16px;
	font-weight:bold;
	color:#000;
}
.layer_expo h5 {
	position:absolute;
	top:35px;
	left:0px;
	width:100%;
	height:20px;
	margin:0px;
	padding:0px;
	text-align:center;
	line-height:20px;
	color:#000;
	font-size:10px;
}

#bottom {
	position:fixed;
	top:100%;
	width:100%;
	height:0px;
	z-index:6;
}
#bottom_panel {
	position:relative;
	top:-180px;
	left:0px;
	width:100%;
	height:180px;
	margin:0px;
	padding:0px;
	border:0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.source {
	background:#fff;
	position:absolute;
	top:20px;
	left:0px;
	width:100%;
	height:160px;
	margin:0px;
	padding:0px;
	border:1px solid #4d4d4d;
	overflow:auto;
}
.icon_src {
	position:relative;
	background:#FFF;
	width:40px;
	height:40px;
	margin:10px;
	padding:0px;
	border:0px;
	float:left;
	overflow:hidden;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 5px #4d4d4d;
	-moz-box-shadow: 0px 0px 5px #4d4d4d;
	box-shadow: 0px 0px 5px #4d4d4d;
}
.icon_src img {
	position:absolute;
	width:40px;
	height:40px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.icon_src img.srcicon_back {
    opacity: 0.6;
}
.icon_src p {
    position: absolute;
	font-size:10px;
	height:12px;
	line-height:12px;
	font: bold 8px Times;
}
.del_container {
	position:absolute;
	left:100%;
	top:0%;
	z-index:10;
}
.del_container img {
	position:absolute;
	left:-17px;
	width:15px;
	height:15px;
	float:left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.popup_back {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#4d4d4d;
	opacity:.5;
	z-index:100;
}
.popup {
	position:fixed;
	padding:0px;
	background:rgba(255,255,255,0.8);
	line-height:20px;
	font-size:16px;
	z-index:100;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 10px #fff;
	-moz-box-shadow: 0px 0px 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}
.popup_title {
	position:relative;
	top:0px;
	left:0px;
	width:90%;
	height:40px;
	padding-left:10%;
	line-height:40px;
	font-size:22px;
	background:#efefef;
	border-bottom:1px solid #4d4d4d;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.popup_close {
	position:absolute;
	top:0px;
	left:100%;
}
.popup_close img {
	position:absolute;
	background:#efefef; 
	top:0px;
	left:-40px;
	width:40px;
	height:40px;
	border-left:1px solid #4d4d4d;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
}
.popup_body {
	position:relative;
	top:0px;
	left:0px;
	margin:10px;
}
.popup_body p{
	margin:5px;
	width:100%;
	float:left;
}
.popup_body h2{
	margin-top:10px;
	margin-left:0px;
	margin-bottom:10px;
	width:100%;
	font-weight:bold;
	font-size:16px;
	float:left;
}
.popup_body h2.alert{
	color: #fb4e4e;
}
.popup_body input, .popup_body select{
    float:left;
    font-size:12px;
    height:16px;
    margin:0px;
    padding:0px;
}
.popup_body label{
    display:block;
	text-align:right;
	line-height:20px;
	width:100px;
	float:left;
	margin:0px 10px 0px 10px;
}
.popup_body span{
	line-height:20px;
	float:left;
	color:#888;
}
.popup_buttons {
	position:absolute;
	right:50px;
	bottom:40px;
	padding:0px;
	margin:0px;
	float:right;
}
.popup_buttons input{
    position: relative;
    margin: 0px 0px 0px 15px;
}
.drop_zone {
	position:relative;
	margin:auto;
	padding:0px;
	border:4px dotted #888;
	overflow-y:auto;
}
.insert_cont {
    position:absolute;
    top:25px;
    left:30px;
    width:250px;
    height:150px;
    overflow:hidden;
}
.insert_text {
    position: absolute;
    left: 280px;
    width: 240px;
    height: 140px;
    margin: 0px;
    padding: 0px;
}
.insert_type_bn {
    position: absolute;
    top: 75px;
    left: 300px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px #4d4d4d;
    -moz-box-shadow: 2px 2px 5px #4d4d4d;
    box-shadow: 2px 2px 5px #4d4d4d;
}
.insert_type_bn:active {
    -webkit-box-shadow: 1px 1px 5px #4d4d4d;
    -moz-box-shadow: 1px 1px 5px #4d4d4d;
    box-shadow: 1px 1px 5px #4d4d4d;
}

.ctrl_pt {
	position:absolute;
	width:6px;
	height:6px;
	border:1px #4d4d4d solid;
	background:#efefef;
}

.big_button {
	position:relative;
	display:block;
	width:80px;
	height:60px;
	margin:10px;
	padding:0px;
	border:1px;
	float:left;
	text-align:center;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 5px #4d4d4d;
	-moz-box-shadow: 0px 0px 5px #4d4d4d;
	box-shadow: 0px 0px 5px #4d4d4d;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
div.big_button {
	line-height:60px;
}
.big_button:active {
	border-style:groove;
}

#circleMenu {
    position: fixed;
    width: 115px;
    height: 115px;
    z-index:101;
}
#circleMenu img{
    position: absolute;
    width: 25px;
    height: 25px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 0px 5px #4d4d4d;
    -moz-box-shadow: 0px 0px 5px #4d4d4d;
    box-shadow: 0px 0px 5px #4d4d4d;
}
#objChooserMask {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#4d4d4d;
	opacity:.5;
	z-index:105;
}
.objChooser {
    position: relative;
    float: left;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.objChooser img, .objChooser h5{
    width: auto;
    height: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

#debug {
	color:#000;
	position:fixed;
	top:80%;
	left:10px;
	z-index:101;
}
.alert_msg {
	color:#F00;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    z-index: 111;
}
#loading img{
    position: relative;
    width: 100%;
    height: 100%;
    left: -25px;
    top: -25px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 0px 5px #4d4d4d;
    -moz-box-shadow: 0px 0px 5px #4d4d4d;
    box-shadow: 0px 0px 5px #4d4d4d;
}

.scriptCounter {
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    border:1px solid white;
    background-color: red;
    padding: 0px 3px 0px 3px !important;
    color: white;
    float: left !important;
    font-size: 9px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    position: absolute;
}

/* guide for the magnetisme  ( using svg ) */
svg line.guide {
	fill:none;
	stroke:blue;
	stroke-width:1px;
	shape-rendering:crispEdges;
	/*stroke-dasharray:18 10;*/
}
svg rect.guide {
	fill:none;
	stroke:green;
	stroke-width:3px;
	shape-rendering:crispEdges;
}

#mood_selector{
    margin-top: 10px;
    height: 140px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
#mood_selector > div{
    height: 70px;
    width: 70px;
    margin: 5px;
    float: left;
}
#mood_selector > div > img{
    position: absolute;
    height: 70px;
    width: 70px;
}
#mood_selector input[type=text]{
    position: absolute;
    margin-top: 55px;
    width: 65px;
    opacity: 0.6;
    z-index:  200;
}
#mood_selector p{
    position: absolute;
    margin-top: 55px;
    width: 65px;
    opacity: 0.6;
    background-color: white;
}
#mood_selector > div > .del_container{
    left: 70px;
    position: relative;
}

div#language_list p{
    width: auto;
    color: white;
    border-radius: 3px;
    background-color: #444170;
    padding: 0 5px;
    border: solid 2px transparent;
}
div#language_list #current_lang{
    border: solid 2px #F55132;
}

#msgCenter{
    position: absolute;
    width: 100%;
    z-index: 20;
}
#msgCenter ul{
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}
#msgCenter ul li{
    text-align: center;
    list-style: none;
    opacity: 0;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    transition: all 1s ease;
    background-color: #FFFFB5;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#msgCenter ul li.fadeIn{
    opacity: 1;
}
#msgCenter ul li>p{
    margin: 0;
}
