.menu{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background:#4d4d4d;
	list-style:none;
}
#menu_mask {
	position:relative;
	width:100%;
	height:100%;
	border:none;
	opacity:0.6;
	background:#000;
}
.menu li{
	float:left;
	padding:0px;
}
.menu li.id{
    float: right;
    position: relative;
    color:#cccccc;
    display:block;
    font-weight:normal;
    line-height:35px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
}
.menu li.id:hover{
    background: #2580a2;
}
.menu li a{
	background:#4d4d4d url("../images/UI/seperator.gif") bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
	background: #2580a2 url("../images/UI/hover.gif") bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
}
.menu li ul{
	background:#4d4d4d;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:100;
	/*top:1em;
	/*left:0;*/
}
.menu li:hover ul{
	display:block;
}
.menu li li {
	background:url('../images/UI/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
}
.menu li:hover li a{
	background:none;
}
.menu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
	background:#2580a2;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}
.menu p{
	clear:left;
}